name: test

on: [push, pull_request]

jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yaml
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install segment-anything
        shell: bash -l {0}
        run: micromamba install -c conda-forge segment-anything

      - name: Install package
        shell: bash -l {0}
        run: pip install --no-deps -e .

      - name: Run tests
        shell: bash -l {0}
        run: python -m unittest discover -s test -v
